:root[theme=bright] {
  --element-active-color: rgb(26, 26, 26);
  --element-neutral-color: rgba(0, 0, 0, .600);
  --element-inactive-color: rgba(0, 0, 0, .440);
  --element-disabled-color: rgba(0, 0, 0, .200);
  --element-active-inverted-color: rgb(255, 255, 255);
  --element-neutral-inverted-color: rgba(255, 255, 255, .700);
  --element-inactive-inverted-color: rgba(255, 255, 255, .400);
  --element-disabled-inverted-color: rgba(255, 255, 255, .200);
  --container-backdrop-color: rgb(224, 224, 224);
  --container-section-color: rgb(247, 247, 247);
  --container-background-color: rgb(255, 255, 255);
  --container-global-color: rgb(255, 255, 255);
  --container-overlay-color: rgba(0, 0, 0, .100);
  --border-divider-color: rgba(0, 0, 0, .200);
  --border-outline-color: rgba(0, 0, 0, .200);
  --border-edge-color: rgba(0, 0, 0, .100);
  --border-solid-color: rgb(51, 51, 51);
  --border-icon-outline-color: rgb(0, 0, 0);
  --instrument-enhanced-primary-color: rgb(0, 50, 255);
  --instrument-enhanced-secondary-color: rgb(36, 61, 153);
  --instrument-enhanced-tertiary-color: rgba(0, 50, 255, .300);
  --instrument-regular-primary-color: rgb(51, 51, 51);
  --instrument-regular-secondary-color: rgb(97, 97, 97);
  --instrument-regular-tertiary-color: rgba(102, 102, 102, .300);
  --instrument-frame-primary-color: rgb(255, 255, 255);
  --instrument-frame-secondary-color: rgb(247, 247, 247);
  --instrument-frame-tertiary-color: rgb(140, 140, 140);
  --instrument-tickmark-primary-color: rgb(51, 51, 51);
  --instrument-tickmark-secondary-color: rgb(112, 112, 112);
  --instrument-tickmark-tertiary-color: rgb(177, 177, 177);
  --instrument-starboard-color: rgb(53, 158, 133);
  --instrument-port-color: rgb(225, 98, 144);
  --alert-running-color: rgb(44, 156, 44);
  --alert-caution-color: rgb(250, 217, 0);
  --alert-warning-color: rgb(246, 148, 0);
  --alert-alarm-color: rgb(223, 27, 27);
  --alert-critical-alarm-color: rgb(229, 0, 229);
  --alert-limit-primary-color: rgba(0, 0, 0, .100);
  --alert-limit-secondary-color: rgba(0, 0, 0, .100);
  --automation-device-primary-color: rgb(255, 255, 255);
  --automation-device-secondary-color: rgb(138, 138, 138);
  --automation-device-tertiary-color: rgb(0, 0, 0);
  --automation-device-primary-inverted-color: rgb(0, 0, 0);
  --automation-device-secondary-inverted-color: rgb(102, 102, 102);
  --automation-device-tertiary-inverted-color: rgb(143, 143, 143);
  --automation-pipe-primary-color: rgb(255, 255, 255);
  --automation-pipe-secondary-color: rgb(198, 198, 198);
  --automation-pipe-tertiary-color: rgb(0, 0, 0);
  --automation-pipe-primary-inverted-color: rgba(0, 0, 0, .200);
  --automation-pipe-secondary-inverted-color: rgba(0, 0, 0, .300);
  --automation-pipe-tertiary-inverted-color: rgb(143, 143, 143);
  --automation-pipe-overlay-color: rgba(0, 0, 0, .200);
  --automation-pipe-disabled-color: rgba(0, 0, 0, .100);
  --automation-acid-alkalis: rgb(231, 193, 244);
  --automation-air-ventilation: rgb(222, 222, 222);
  --automation-fire-fighting: rgb(255, 177, 196);
  --automation-flammable-gas: rgb(216, 224, 127);
  --automation-fresh-water: rgb(198, 241, 251);
  --automation-fuel: rgb(249, 208, 169);
  --automation-masses: rgb(209, 191, 173);
  --automation-non-flammable-gas: rgb(220, 232, 206);
  --automation-oil: rgb(253, 243, 155);
  --automation-sea-water: rgb(173, 230, 213);
  --automation-steam: rgb(203, 203, 203);
  --automation-waste-media: rgb(138, 138, 138);
  --normal-enabled-background-color: rgb(255, 255, 255);
  --normal-enabled-border-color: rgba(0, 0, 0, .300);
  --normal-hover-background-color: rgb(230, 230, 230);
  --normal-hover-border-color: rgba(0, 0, 0, .300);
  --normal-pressed-background-color: rgb(204, 204, 204);
  --normal-pressed-border-color: rgba(0, 0, 0, .300);
  --normal-focused-background-color: rgb(255, 255, 255);
  --normal-focused-border-color: rgba(36, 61, 153, .720);
  --normal-disabled-background-color: rgba(255, 255, 255, .00);
  --normal-disabled-border-color: rgba(0, 0, 0, .100);
  --normal-activated-background-color: rgb(235, 235, 235);
  --normal-activated-border-color: rgba(0, 0, 0, .200);
  --on-normal-active-color: rgb(26, 26, 26);
  --on-normal-neutral-color: rgba(0, 0, 0, .550);
  --on-normal-disabled-color: rgba(0, 0, 0, .300);
  --raised-enabled-background-color: rgba(0, 0, 0, .600);
  --raised-enabled-border-color: rgba(0, 0, 0, .100);
  --raised-hover-background-color: rgba(0, 0, 0, .700);
  --raised-hover-border-color: rgba(0, 0, 0, .100);
  --raised-pressed-background-color: rgba(0, 0, 0, .800);
  --raised-pressed-border-color: rgba(0, 0, 0, .300);
  --raised-focused-background-color: rgba(0, 0, 0, .600);
  --raised-focused-border-color: rgba(36, 61, 153, .720);
  --raised-disabled-background-color: rgba(0, 0, 0, .00);
  --raised-disabled-border-color: rgba(0, 0, 0, .100);
  --on-raised-active-color: rgb(255, 255, 255);
  --on-raised-neutral-color: rgba(255, 255, 255, .700);
  --on-raised-disabled-color: rgba(0, 0, 0, .200);
  --indent-enabled-background-color: rgba(0, 0, 0, .050);
  --indent-enabled-border-color: rgba(0, 0, 0, .300);
  --indent-hover-background-color: rgba(0, 0, 0, .100);
  --indent-hover-border-color: rgba(0, 0, 0, .100);
  --indent-pressed-background-color: rgba(0, 0, 0, .160);
  --indent-pressed-border-color: rgba(0, 0, 0, .100);
  --indent-focused-background-color: rgba(0, 0, 0, .050);
  --indent-focused-border-color: rgba(36, 61, 153, .720);
  --indent-disabled-background-color: rgba(0, 0, 0, .00);
  --indent-disabled-border-color: rgba(0, 0, 0, .100);
  --on-indent-active-color: rgba(0, 0, 0, .900);
  --on-indent-neutral-color: rgba(0, 0, 0, .440);
  --on-indent-disabled-color: rgba(0, 0, 0, .300);
  --flat-enabled-background-color: rgba(0, 0, 0, .00);
  --flat-enabled-border-color: rgba(0, 0, 0, .00);
  --flat-hover-background-color: rgba(0, 0, 0, .060);
  --flat-hover-border-color: rgba(0, 0, 0, .00);
  --flat-pressed-background-color: rgba(0, 0, 0, .120);
  --flat-pressed-border-color: rgba(0, 0, 0, .00);
  --flat-focused-background-color: rgba(0, 0, 0, .00);
  --flat-focused-border-color: rgba(36, 61, 153, .720);
  --flat-disabled-background-color: rgba(0, 0, 0, .00);
  --flat-disabled-border-color: rgba(0, 0, 0, .00);
  --flat-activated-background-color: rgba(0, 0, 0, .050);
  --flat-activated-border-color: rgba(0, 0, 0, .00);
  --flat-checked-background-color: rgba(48, 87, 146, .100);
  --flat-checked-border-color: rgba(15, 74, 163, .00);
  --on-flat-active-color: rgba(0, 0, 0, .900);
  --on-flat-neutral-color: rgba(0, 0, 0, .550);
  --on-flat-disabled-color: rgba(0, 0, 0, .300);
  --selected-enabled-background-color: rgb(36, 61, 153);
  --selected-enabled-border-color: rgba(0, 0, 0, .00);
  --selected-hover-background-color: rgb(26, 45, 111);
  --selected-hover-border-color: rgba(0, 0, 0, .00);
  --selected-pressed-background-color: rgb(17, 28, 70);
  --selected-pressed-border-color: rgba(0, 0, 0, .00);
  --selected-focused-background-color: rgb(36, 61, 153);
  --selected-focused-border-color: rgba(36, 61, 153, .720);
  --selected-disabled-background-color: rgba(0, 0, 0, .200);
  --selected-disabled-border-color: rgba(0, 0, 0, .00);
  --on-selected-active-color: rgb(255, 255, 255);
  --on-selected-neutral-color: rgba(255, 255, 255, .800);
  --on-selected-disabled-color: rgba(0, 0, 0, .300);
  --thumb-enabled-background-color: rgb(255, 255, 255);
  --thumb-enabled-border-color: rgba(0, 0, 0, .300);
  --thumb-hover-background-color: rgb(230, 230, 230);
  --thumb-hover-border-color: rgba(0, 0, 0, .200);
  --thumb-pressed-background-color: rgb(204, 204, 204);
  --thumb-pressed-border-color: rgba(0, 0, 0, .200);
  --thumb-focused-background-color: rgb(255, 255, 255);
  --thumb-focused-border-color: rgba(36, 61, 153, .720);
  --thumb-disabled-background-color: rgba(0, 0, 0, .100);
  --thumb-disabled-border-color: rgba(0, 0, 0, .00);
  --on-thumb-active-color: rgba(0, 0, 0, .900);
  --on-thumb-neutral-color: rgba(0, 0, 0, .550);
  --on-thumb-disabled-color: rgba(0, 0, 0, .300);
  --amplified-enabled-background-color: rgba(48, 87, 146, .100);
  --amplified-enabled-border-color: rgba(0, 0, 0, .00);
  --amplified-hover-background-color: rgba(48, 87, 146, .200);
  --amplified-hover-border-color: rgba(0, 0, 0, .00);
  --amplified-pressed-background-color: rgba(48, 87, 146, .260);
  --amplified-pressed-border-color: rgba(0, 0, 0, .00);
  --amplified-focused-background-color: rgba(48, 87, 146, .100);
  --amplified-focused-border-color: rgba(36, 61, 153, .720);
  --amplified-disabled-background-color: rgba(0, 0, 0, .100);
  --amplified-disabled-border-color: rgba(0, 0, 0, .00);
  --on-amplified-active-color: rgba(0, 0, 0, .900);
  --on-amplified-neutral-color: rgba(0, 0, 0, .550);
  --on-amplified-disabled-color: rgba(0, 0, 0, .300);
  --device-enabled-background-color: rgb(235, 235, 235);
  --device-enabled-border-color: rgba(0, 0, 0, .050);
  --device-hover-background-color: rgb(222, 222, 222);
  --device-hover-border-color: rgba(0, 0, 0, .050);
  --device-pressed-background-color: rgb(209, 209, 209);
  --device-pressed-border-color: rgba(0, 0, 0, .050);
  --device-focused-background-color: rgb(235, 235, 235);
  --device-focused-border-color: rgba(36, 61, 153, .720);
  --device-disabled-background-color: rgba(0, 0, 0, .00);
  --device-disabled-border-color: rgba(0, 0, 0, .050);
  --on-device-active-color: rgb(255, 255, 255);
  --on-device-neutral-color: rgba(0, 0, 0, .440);
  --on-device-disabled-color: rgb(179, 179, 179);
  --running-enabled-background-color: rgb(37, 152, 37);
  --running-enabled-border-color: rgba(0, 0, 0, .100);
  --running-hover-background-color: rgb(27, 111, 27);
  --running-hover-border-color: rgba(0, 0, 0, .100);
  --running-pressed-background-color: rgb(17, 70, 17);
  --running-pressed-border-color: rgba(0, 0, 0, .200);
  --running-focused-background-color: rgb(37, 152, 37);
  --running-focused-border-color: rgb(247, 247, 247);
  --running-disabled-background-color: rgb(37, 152, 37);
  --running-disabled-border-color: rgba(0, 0, 0, .00);
  --on-running-active-color: rgb(255, 255, 255);
  --on-running-neutral-color: rgba(255, 255, 255, .700);
  --on-running-disabled-color: rgba(255, 255, 255, .300);
  --caution-enabled-background-color: rgb(250, 217, 0);
  --caution-enabled-border-color: rgba(0, 0, 0, .100);
  --caution-hover-background-color: rgb(199, 173, 0);
  --caution-hover-border-color: rgba(0, 0, 0, .100);
  --caution-pressed-background-color: rgb(148, 128, 0);
  --caution-pressed-border-color: rgba(0, 0, 0, .200);
  --caution-focused-background-color: rgb(250, 217, 0);
  --caution-focused-border-color: rgb(247, 247, 247);
  --caution-disabled-background-color: rgb(250, 217, 0);
  --caution-disabled-border-color: rgba(0, 0, 0, .00);
  --on-caution-active-color: rgba(0, 0, 0, .900);
  --on-caution-neutral-color: rgba(0, 0, 0, .600);
  --on-caution-disabled-color: rgba(0, 0, 0, .300);
  --warning-enabled-background-color: rgb(255, 145, 15);
  --warning-enabled-border-color: rgba(0, 0, 0, .100);
  --warning-hover-background-color: rgb(194, 117, 0);
  --warning-hover-border-color: rgba(0, 0, 0, .100);
  --warning-pressed-background-color: rgb(143, 90, 0);
  --warning-pressed-border-color: rgba(0, 0, 0, .200);
  --warning-focused-background-color: rgb(246, 148, 0);
  --warning-focused-border-color: rgb(247, 247, 247);
  --warning-disabled-background-color: rgb(246, 148, 0);
  --warning-disabled-border-color: rgba(0, 0, 0, .00);
  --on-warning-active-color: rgba(0, 0, 0, .900);
  --on-warning-neutral-color: rgba(0, 0, 0, .600);
  --on-warning-disabled-color: rgba(0, 0, 0, .300);
  --alarm-enabled-background-color: rgb(228, 27, 27);
  --alarm-enabled-border-color: rgba(0, 0, 0, .100);
  --alarm-hover-background-color: rgb(182, 22, 22);
  --alarm-hover-border-color: rgba(0, 0, 0, .100);
  --alarm-pressed-background-color: rgb(137, 16, 16);
  --alarm-pressed-border-color: rgba(0, 0, 0, .200);
  --alarm-focused-background-color: rgb(228, 27, 27);
  --alarm-focused-border-color: rgb(247, 247, 247);
  --alarm-disabled-background-color: rgb(228, 27, 27);
  --alarm-disabled-border-color: rgba(0, 0, 0, .00);
  --on-alarm-active-color: rgb(255, 255, 255);
  --on-alarm-neutral-color: rgba(255, 255, 255, .700);
  --on-alarm-disabled-color: rgba(0, 0, 0, .300);
  --critical-alarm-enabled-background-color: rgb(201, 0, 202);
  --critical-alarm-enabled-border-color: rgba(0, 0, 0, .100);
  --critical-alarm-hover-background-color: rgb(152, 0, 153);
  --critical-alarm-hover-border-color: rgba(0, 0, 0, .100);
  --critical-alarm-pressed-background-color: rgb(102, 0, 102);
  --critical-alarm-pressed-border-color: rgba(0, 0, 0, .200);
  --critical-alarm-focused-background-color: rgb(201, 0, 202);
  --critical-alarm-focused-border-color: rgb(247, 247, 247);
  --critical-alarm-disabled-background-color: rgb(201, 0, 202);
  --critical-alarm-disabled-border-color: rgba(0, 0, 0, .00);
  --on-critical-alarm-active-color: rgb(255, 255, 255);
  --on-critical-alarm-neutral-color: rgba(255, 255, 255, .700);
  --on-critical-alarm-disabled-color: rgba(255, 255, 255, .300);
  --font-ui-title-size: 24px;
  --font-ui-title-weight: Bold;
  --font-ui-title-line-height: 32px;
  --font-ui-subtitle-size: 24px;
  --font-ui-subtitle-weight: Regular;
  --font-ui-subtitle-line-height: 32px;
  --font-ui-overline-size: 12px;
  --font-ui-overline-weight: SemiBold;
  --font-ui-overline-line-height: 24px;
  --font-ui-button-size: 16px;
  --font-ui-button-weight: SemiBold;
  --font-ui-button-line-height: 24px;
  --font-ui-body-active-size: 16px;
  --font-ui-body-active-weight: Bold;
  --font-ui-body-active-line-height: 24px;
  --font-ui-body-size: 16px;
  --font-ui-body-weight: Regular;
  --font-ui-body-line-height: 24px;
  --font-ui-label-active-size: 12px;
  --font-ui-label-active-weight: Bold;
  --font-ui-label-active-line-height: undefinedpx;
  --font-ui-label-size: 12px;
  --font-ui-label-weight: Regular;
  --font-ui-label-line-height: undefinedpx;
  --font-instrument-label-s-size: 16px;
  --font-instrument-label-s-weight: Regular;
  --font-instrument-label-s-line-height: undefinedpx;
  --font-instrument-label-m-size: 24px;
  --font-instrument-label-m-weight: Regular;
  --font-instrument-label-m-line-height: 42px;
  --font-instrument-label-l-size: 32px;
  --font-instrument-label-l-weight: Regular;
  --font-instrument-label-l-line-height: 64px;
  --font-instrument-value-s-size: 16px;
  --font-instrument-value-s-weight: SemiBold;
  --font-instrument-value-s-line-height: undefinedpx;
  --font-instrument-value-s-enhanced-size: 24px;
  --font-instrument-value-s-enhanced-weight: SemiBold;
  --font-instrument-value-s-enhanced-line-height: undefinedpx;
  --font-instrument-value-m-size: 32px;
  --font-instrument-value-m-weight: SemiBold;
  --font-instrument-value-m-line-height: 48px;
  --font-instrument-value-m-enhanced-size: 48px;
  --font-instrument-value-m-enhanced-weight: SemiBold;
  --font-instrument-value-m-enhanced-line-height: 64px;
  --font-instrument-value-l-size: 64px;
  --font-instrument-value-l-weight: SemiBold;
  --font-instrument-value-l-line-height: 88px;
  --font-instrument-value-l-enhanced-size: 80px;
  --font-instrument-value-l-enhanced-weight: SemiBold;
  --font-instrument-value-l-enhanced-line-height: 104px;
  --font-instrument-unit-s-size: 16px;
  --font-instrument-unit-s-weight: Regular;
  --font-instrument-unit-s-line-height: undefinedpx;
  --font-instrument-unit-m-size: 24px;
  --font-instrument-unit-m-weight: Regular;
  --font-instrument-unit-m-line-height: 42px;
  --font-instrument-unit-l-size: 32px;
  --font-instrument-unit-l-weight: Regular;
  --font-instrument-unit-l-line-height: 64px;
  --font-instrument-status-s-size: 16px;
  --font-instrument-status-s-weight: Regular;
  --font-instrument-status-s-line-height: undefinedpx;
  --font-instrument-status-m-size: 24px;
  --font-instrument-status-m-weight: Regular;
  --font-instrument-status-m-line-height: 42px;
  --font-instrument-status-l-size: 32px;
  --font-instrument-status-l-weight: Regular;
  --font-instrument-status-l-line-height: 64px;
  --shadow-flat: 0px 0px 0px 1px rgba(0, 0, 0, .200);
  --shadow-raised: 0px 0px 0px 1px rgba(0, 0, 0, .400);
  --shadow-floating: 0px 0px 0px 1px rgba(0, 0, 0, .300);
  --shadow-overlay: 0px 0px 0px 1px rgba(0, 0, 0, .400);
  --shadow-focused: 0px 0px 0px 4px rgb(0, 59, 148);
}