:root[theme=night] {
  --element-active-color: rgb(104, 104, 0);
  --element-neutral-color: rgb(71, 71, 0);
  --element-inactive-color: rgb(51, 51, 0);
  --element-disabled-color: rgb(25, 25, 0);
  --element-active-inverted-color: rgb(0, 0, 0);
  --element-neutral-inverted-color: rgba(0, 0, 0, .600);
  --element-inactive-inverted-color: rgba(0, 0, 0, .400);
  --element-disabled-inverted-color: rgba(0, 0, 0, .200);
  --container-backdrop-color: rgb(0, 0, 0);
  --container-section-color: rgb(0, 0, 0);
  --container-background-color: rgb(0, 0, 0);
  --container-global-color: rgb(0, 0, 0);
  --container-overlay-color: rgba(0, 0, 0, .300);
  --border-divider-color: rgba(104, 104, 0, .200);
  --border-outline-color: rgba(104, 104, 0, .200);
  --border-edge-color: rgba(104, 104, 0, .050);
  --border-solid-color: rgb(104, 104, 0);
  --border-icon-outline-color: rgba(0, 0, 0, .500);
  --instrument-enhanced-primary-color: rgb(15, 76, 36);
  --instrument-enhanced-secondary-color: rgb(25, 52, 34);
  --instrument-enhanced-tertiary-color: rgba(15, 76, 36, .200);
  --instrument-regular-primary-color: rgb(71, 71, 0);
  --instrument-regular-secondary-color: rgb(41, 41, 0);
  --instrument-regular-tertiary-color: rgba(76, 76, 0, .300);
  --instrument-frame-primary-color: rgb(3, 3, 0);
  --instrument-frame-secondary-color: rgb(0, 0, 0);
  --instrument-frame-tertiary-color: rgb(41, 41, 0);
  --instrument-tickmark-primary-color: rgb(104, 104, 0);
  --instrument-tickmark-secondary-color: rgb(71, 71, 0);
  --instrument-tickmark-tertiary-color: rgb(41, 41, 0);
  --instrument-starboard-color: rgb(15, 47, 39);
  --instrument-port-color: rgb(80, 33, 49);
  --alert-running-color: rgb(12, 89, 0);
  --alert-caution-color: rgb(150, 130, 0);
  --alert-warning-color: rgb(161, 97, 0);
  --alert-alarm-color: rgb(172, 21, 21);
  --alert-critical-alarm-color: rgb(229, 0, 229);
  --alert-limit-primary-color: rgba(0, 0, 0, .100);
  --alert-limit-secondary-color: rgba(0, 0, 0, .100);
  --automation-device-primary-color: rgb(104, 104, 0);
  --automation-device-secondary-color: rgb(51, 51, 0);
  --automation-device-tertiary-color: rgb(0, 0, 0);
  --automation-device-primary-inverted-color: rgb(0, 0, 0);
  --automation-device-secondary-inverted-color: rgb(25, 25, 0);
  --automation-device-tertiary-inverted-color: rgb(51, 51, 0);
  --automation-pipe-primary-color: rgb(51, 51, 0);
  --automation-pipe-secondary-color: rgb(25, 25, 0);
  --automation-pipe-tertiary-color: rgba(0, 0, 0, .440);
  --automation-pipe-primary-inverted-color: rgb(0, 0, 0);
  --automation-pipe-secondary-inverted-color: rgb(25, 25, 0);
  --automation-pipe-tertiary-inverted-color: rgb(51, 51, 0);
  --automation-pipe-overlay-color: rgba(0, 0, 0, .200);
  --automation-pipe-disabled-color: rgba(0, 0, 0, .100);
  --automation-acid-alkalis: rgb(40, 34, 42);
  --automation-air-ventilation: rgb(31, 31, 31);
  --automation-fire-fighting: rgb(46, 31, 35);
  --automation-flammable-gas: rgb(46, 48, 28);
  --automation-fresh-water: rgb(24, 35, 37);
  --automation-fuel: rgb(41, 31, 20);
  --automation-masses: rgb(35, 30, 26);
  --automation-non-flammable-gas: rgb(31, 34, 27);
  --automation-oil: rgb(37, 35, 14);
  --automation-sea-water: rgb(26, 36, 34);
  --automation-steam: rgb(29, 30, 32);
  --automation-waste-media: rgb(31, 31, 31);
  --normal-enabled-background-color: rgb(0, 0, 0);
  --normal-enabled-border-color: rgb(25, 25, 0);
  --normal-hover-background-color: rgb(15, 15, 0);
  --normal-hover-border-color: rgb(23, 25, 0);
  --normal-pressed-background-color: rgb(14, 15, 0);
  --normal-pressed-border-color: rgb(38, 41, 0);
  --normal-focused-background-color: rgb(0, 0, 0);
  --normal-focused-border-color: rgba(15, 76, 36, .500);
  --normal-disabled-background-color: rgba(255, 255, 255, .00);
  --normal-disabled-border-color: rgba(0, 0, 0, .100);
  --normal-activated-background-color: rgb(235, 235, 235);
  --normal-activated-border-color: rgba(0, 0, 0, .200);
  --on-normal-active-color: rgb(104, 104, 0);
  --on-normal-neutral-color: rgb(66, 66, 0);
  --on-normal-disabled-color: rgb(25, 25, 0);
  --raised-enabled-background-color: rgba(104, 104, 0, .150);
  --raised-enabled-border-color: rgb(25, 25, 0);
  --raised-hover-background-color: rgba(255, 255, 255, .460);
  --raised-hover-border-color: rgb(26, 26, 26);
  --raised-pressed-background-color: rgba(255, 255, 255, .300);
  --raised-pressed-border-color: rgb(26, 26, 26);
  --raised-focused-background-color: rgba(255, 255, 255, .380);
  --raised-focused-border-color: rgba(15, 76, 36, .500);
  --raised-disabled-background-color: rgba(0, 0, 0, .00);
  --raised-disabled-border-color: rgba(0, 0, 0, .100);
  --on-raised-active-color: rgb(104, 104, 0);
  --on-raised-neutral-color: rgb(66, 66, 0);
  --on-raised-disabled-color: rgb(25, 25, 0);
  --indent-enabled-background-color: rgb(0, 0, 0);
  --indent-enabled-border-color: rgb(23, 23, 0);
  --indent-hover-background-color: rgba(255, 255, 255, .060);
  --indent-hover-border-color: rgb(26, 26, 26);
  --indent-pressed-background-color: rgba(0, 0, 0, .400);
  --indent-pressed-border-color: rgb(26, 26, 26);
  --indent-focused-background-color: rgba(0, 0, 0, .200);
  --indent-focused-border-color: rgba(15, 76, 36, .500);
  --indent-disabled-background-color: rgba(0, 0, 0, .00);
  --indent-disabled-border-color: rgba(0, 0, 0, .100);
  --on-indent-active-color: rgb(104, 104, 0);
  --on-indent-neutral-color: rgb(51, 51, 0);
  --on-indent-disabled-color: rgb(25, 25, 0);
  --flat-enabled-background-color: rgba(255, 255, 255, .00);
  --flat-enabled-border-color: rgba(0, 0, 0, .00);
  --flat-hover-background-color: rgba(255, 255, 255, .060);
  --flat-hover-border-color: rgba(0, 0, 0, .00);
  --flat-pressed-background-color: rgba(255, 255, 255, .120);
  --flat-pressed-border-color: rgba(0, 0, 0, .00);
  --flat-focused-background-color: rgba(255, 255, 255, .00);
  --flat-focused-border-color: rgba(15, 76, 36, .500);
  --flat-disabled-background-color: rgba(0, 0, 0, .00);
  --flat-disabled-border-color: rgba(0, 0, 0, .00);
  --flat-activated-background-color: rgba(0, 0, 0, .050);
  --flat-activated-border-color: rgba(0, 0, 0, .00);
  --flat-checked-background-color: rgba(48, 87, 146, .100);
  --flat-checked-border-color: rgba(15, 74, 163, .00);
  --on-flat-active-color: rgb(104, 104, 0);
  --on-flat-neutral-color: rgb(66, 66, 0);
  --on-flat-disabled-color: rgb(25, 25, 0);
  --selected-enabled-background-color: rgb(25, 52, 34);
  --selected-enabled-border-color: rgba(0, 0, 0, .00);
  --selected-hover-background-color: rgb(17, 34, 23);
  --selected-hover-border-color: rgba(0, 0, 0, .00);
  --selected-pressed-background-color: rgb(13, 28, 18);
  --selected-pressed-border-color: rgba(0, 0, 0, .00);
  --selected-focused-background-color: rgb(25, 52, 34);
  --selected-focused-border-color: rgba(15, 76, 36, .500);
  --selected-disabled-background-color: rgba(0, 0, 0, .200);
  --selected-disabled-border-color: rgba(0, 0, 0, .00);
  --on-selected-active-color: rgb(104, 104, 0);
  --on-selected-neutral-color: rgb(66, 66, 0);
  --on-selected-disabled-color: rgb(25, 25, 0);
  --thumb-enabled-background-color: rgb(0, 0, 0);
  --thumb-enabled-border-color: rgb(26, 25, 0);
  --thumb-hover-background-color: rgb(0, 0, 0);
  --thumb-hover-border-color: rgb(51, 51, 0);
  --thumb-pressed-background-color: rgb(0, 0, 0);
  --thumb-pressed-border-color: rgb(15, 15, 0);
  --thumb-focused-background-color: rgb(0, 0, 0);
  --thumb-focused-border-color: rgba(15, 76, 36, .500);
  --thumb-disabled-background-color: rgb(0, 0, 0);
  --thumb-disabled-border-color: rgb(25, 25, 0);
  --on-thumb-active-color: rgb(104, 104, 0);
  --on-thumb-neutral-color: rgb(76, 76, 0);
  --on-thumb-disabled-color: rgb(25, 25, 0);
  --amplified-enabled-background-color: rgba(25, 52, 34, .200);
  --amplified-enabled-border-color: rgba(0, 0, 0, .00);
  --amplified-hover-background-color: rgba(25, 52, 34, .300);
  --amplified-hover-border-color: rgba(0, 0, 0, .00);
  --amplified-pressed-background-color: rgba(25, 52, 34, .220);
  --amplified-pressed-border-color: rgba(0, 0, 0, .00);
  --amplified-focused-background-color: rgba(25, 52, 34, .300);
  --amplified-focused-border-color: rgba(15, 76, 36, .500);
  --amplified-disabled-background-color: rgba(0, 0, 0, .100);
  --amplified-disabled-border-color: rgba(0, 0, 0, .00);
  --on-amplified-active-color: rgb(104, 104, 0);
  --on-amplified-neutral-color: rgb(76, 76, 0);
  --on-amplified-disabled-color: rgb(25, 25, 0);
  --device-enabled-background-color: rgb(0, 0, 0);
  --device-enabled-border-color: rgb(25, 25, 0);
  --device-hover-background-color: rgb(0, 0, 0);
  --device-hover-border-color: rgb(51, 51, 0);
  --device-pressed-background-color: rgb(0, 0, 0);
  --device-pressed-border-color: rgb(15, 15, 0);
  --device-focused-background-color: rgb(0, 0, 0);
  --device-focused-border-color: rgba(15, 76, 36, .500);
  --device-disabled-background-color: rgba(0, 0, 0, .00);
  --device-disabled-border-color: rgba(0, 0, 0, .050);
  --on-device-active-color: rgb(104, 104, 0);
  --on-device-neutral-color: rgb(76, 76, 0);
  --on-device-disabled-color: rgb(25, 25, 0);
  --running-enabled-background-color: rgb(19, 138, 0);
  --running-enabled-border-color: rgba(0, 0, 0, .100);
  --running-hover-background-color: rgb(23, 168, 0);
  --running-hover-border-color: rgba(0, 0, 0, .100);
  --running-pressed-background-color: rgb(15, 107, 0);
  --running-pressed-border-color: rgba(0, 0, 0, .200);
  --running-focused-background-color: rgb(19, 138, 0);
  --running-focused-border-color: rgba(15, 76, 36, .500);
  --running-disabled-background-color: rgb(19, 138, 0);
  --running-disabled-border-color: rgba(0, 0, 0, .00);
  --on-running-active-color: rgb(179, 179, 179);
  --on-running-neutral-color: rgba(255, 255, 255, .600);
  --on-running-disabled-color: rgba(255, 255, 255, .200);
  --caution-enabled-background-color: rgb(237, 206, 6);
  --caution-enabled-border-color: rgb(20, 20, 20);
  --caution-hover-background-color: rgb(250, 222, 46);
  --caution-hover-border-color: rgb(20, 20, 20);
  --caution-pressed-background-color: rgb(199, 173, 5);
  --caution-pressed-border-color: rgb(20, 20, 20);
  --caution-focused-background-color: rgb(237, 206, 6);
  --caution-focused-border-color: rgba(15, 76, 36, .500);
  --caution-disabled-background-color: rgb(237, 206, 6);
  --caution-disabled-border-color: rgba(0, 0, 0, .00);
  --on-caution-active-color: rgba(0, 0, 0, .900);
  --on-caution-neutral-color: rgba(0, 0, 0, .600);
  --on-caution-disabled-color: rgba(0, 0, 0, .300);
  --warning-enabled-background-color: rgb(246, 148, 0);
  --warning-enabled-border-color: rgba(0, 0, 0, .100);
  --warning-hover-background-color: rgb(255, 166, 31);
  --warning-hover-border-color: rgba(0, 0, 0, .100);
  --warning-pressed-background-color: rgb(204, 123, 0);
  --warning-pressed-border-color: rgba(0, 0, 0, .200);
  --warning-focused-background-color: rgb(246, 148, 0);
  --warning-focused-border-color: rgba(15, 76, 36, .500);
  --warning-disabled-background-color: rgb(246, 148, 0);
  --warning-disabled-border-color: rgba(0, 0, 0, .00);
  --on-warning-active-color: rgba(0, 0, 0, .900);
  --on-warning-neutral-color: rgba(0, 0, 0, .600);
  --on-warning-disabled-color: rgba(0, 0, 0, .300);
  --alarm-enabled-background-color: rgb(229, 38, 38);
  --alarm-enabled-border-color: rgb(20, 20, 20);
  --alarm-hover-background-color: rgb(232, 64, 64);
  --alarm-hover-border-color: rgb(20, 20, 20);
  --alarm-pressed-background-color: rgb(200, 24, 24);
  --alarm-pressed-border-color: rgb(20, 20, 20);
  --alarm-focused-background-color: rgb(229, 38, 38);
  --alarm-focused-border-color: rgba(15, 76, 36, .500);
  --alarm-disabled-background-color: rgb(229, 38, 38);
  --alarm-disabled-border-color: rgba(0, 0, 0, .00);
  --on-alarm-active-color: rgb(180, 180, 180);
  --on-alarm-neutral-color: rgba(255, 255, 255, .700);
  --on-alarm-disabled-color: rgba(0, 0, 0, .300);
  --critical-alarm-enabled-background-color: rgb(201, 0, 202);
  --critical-alarm-enabled-border-color: rgba(0, 0, 0, .100);
  --critical-alarm-hover-background-color: rgb(152, 0, 153);
  --critical-alarm-hover-border-color: rgba(0, 0, 0, .100);
  --critical-alarm-pressed-background-color: rgb(102, 0, 102);
  --critical-alarm-pressed-border-color: rgba(0, 0, 0, .200);
  --critical-alarm-focused-background-color: rgb(201, 0, 202);
  --critical-alarm-focused-border-color: rgba(15, 76, 36, .500);
  --critical-alarm-disabled-background-color: rgb(201, 0, 202);
  --critical-alarm-disabled-border-color: rgba(0, 0, 0, .00);
  --on-critical-alarm-active-color: rgb(0, 0, 0);
  --on-critical-alarm-neutral-color: rgba(0, 0, 0, .700);
  --on-critical-alarm-disabled-color: rgba(0, 0, 0, .300);
  --font-ui-title-size: 24px;
  --font-ui-title-weight: Bold;
  --font-ui-title-line-height: 32px;
  --font-ui-subtitle-size: 24px;
  --font-ui-subtitle-weight: Regular;
  --font-ui-subtitle-line-height: 32px;
  --font-ui-overline-size: 12px;
  --font-ui-overline-weight: SemiBold;
  --font-ui-overline-line-height: 24px;
  --font-ui-button-size: 16px;
  --font-ui-button-weight: SemiBold;
  --font-ui-button-line-height: 24px;
  --font-ui-body-active-size: 16px;
  --font-ui-body-active-weight: Bold;
  --font-ui-body-active-line-height: 24px;
  --font-ui-body-size: 16px;
  --font-ui-body-weight: Regular;
  --font-ui-body-line-height: 24px;
  --font-ui-label-active-size: 12px;
  --font-ui-label-active-weight: Bold;
  --font-ui-label-active-line-height: undefinedpx;
  --font-ui-label-size: 12px;
  --font-ui-label-weight: Regular;
  --font-ui-label-line-height: undefinedpx;
  --font-instrument-label-s-size: 16px;
  --font-instrument-label-s-weight: Regular;
  --font-instrument-label-s-line-height: undefinedpx;
  --font-instrument-label-m-size: 24px;
  --font-instrument-label-m-weight: Regular;
  --font-instrument-label-m-line-height: 42px;
  --font-instrument-label-l-size: 32px;
  --font-instrument-label-l-weight: Regular;
  --font-instrument-label-l-line-height: 64px;
  --font-instrument-value-s-size: 16px;
  --font-instrument-value-s-weight: SemiBold;
  --font-instrument-value-s-line-height: undefinedpx;
  --font-instrument-value-s-enhanced-size: 24px;
  --font-instrument-value-s-enhanced-weight: SemiBold;
  --font-instrument-value-s-enhanced-line-height: undefinedpx;
  --font-instrument-value-m-size: 32px;
  --font-instrument-value-m-weight: SemiBold;
  --font-instrument-value-m-line-height: 48px;
  --font-instrument-value-m-enhanced-size: 48px;
  --font-instrument-value-m-enhanced-weight: SemiBold;
  --font-instrument-value-m-enhanced-line-height: 64px;
  --font-instrument-value-l-size: 64px;
  --font-instrument-value-l-weight: SemiBold;
  --font-instrument-value-l-line-height: 88px;
  --font-instrument-value-l-enhanced-size: 80px;
  --font-instrument-value-l-enhanced-weight: SemiBold;
  --font-instrument-value-l-enhanced-line-height: 104px;
  --font-instrument-unit-s-size: 16px;
  --font-instrument-unit-s-weight: Regular;
  --font-instrument-unit-s-line-height: undefinedpx;
  --font-instrument-unit-m-size: 24px;
  --font-instrument-unit-m-weight: Regular;
  --font-instrument-unit-m-line-height: 42px;
  --font-instrument-unit-l-size: 32px;
  --font-instrument-unit-l-weight: Regular;
  --font-instrument-unit-l-line-height: 64px;
  --font-instrument-status-s-size: 16px;
  --font-instrument-status-s-weight: Regular;
  --font-instrument-status-s-line-height: undefinedpx;
  --font-instrument-status-m-size: 24px;
  --font-instrument-status-m-weight: Regular;
  --font-instrument-status-m-line-height: 42px;
  --font-instrument-status-l-size: 32px;
  --font-instrument-status-l-weight: Regular;
  --font-instrument-status-l-line-height: 64px;
  --shadow-flat: 0px 0px 0px 1px rgba(96, 104, 0, .100);
  --shadow-raised: 0px 0px 0px 1px rgba(96, 104, 0, .200);
  --shadow-floating: 0px 0px 0px 1px rgba(96, 104, 0, .300);
  --shadow-overlay: 0px 0px 0px 1px rgba(96, 104, 0, .400);
}